* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  -bg-grey: #f7f7f7;
}
.bg-grey {
  background: #f7f7f7;
}

.box {
  margin: 0 2rem;
}
/* text-style */
h1,
h4,
h6 {
  padding: 0.5rem 0;
}
.subtitle {
  font-weight: bold;
}
p {
  font-size: 15px;
}

/* form style */
input[type="email"] {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.active {
  display: none;
}
/*banner style*/
#banner {
  margin: 0;
}
/* #banner img {
  width: 100%;
  height: 15rem;
  z-index: -1;
} */
#banner {
  background-image: url("banner.jpg");
  background-clip: padding-box;
  background-position: center;
  background-size: cover;
  padding: 15%;
}
.name {
  position: relative;
  top: 15%;
  bottom: 15%;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.profile {
  position: relative;
  border-radius: 50%;
  border: 5px solid white;
  margin: 0 2rem;
}
#about {
  margin-bottom: 3rem;
}
/*navbar style*/
#nav-bar .container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 58px;
  text-align: center;
}
#nav-bar a {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  text-align: center;
}
#nav-bar i {
  color: #2d9fb3;
}
#nav-bar a:nth-child(1) {
  border-left: 1px solid #e1d8d8ca;
  border-right: 1px solid #e1d8d8ca;
}
#nav-bar a:nth-child(5) {
  border-left: 1px solid #e1d8d8ca;
  border-right: 1px solid #e1d8d8ca;
}
/*mục tiêu và thông tin cá nhân*/
#target p {
  font-size: 15px;
}
#personal-info {
  margin-top: 0;
}
#job-info p {
  padding-bottom: 0.1rem;
  font-size: 1rem;
}
#job-info {
  margin: 0 3rem;
  /* padding-right: 2rem; */
}
section > .grid-container {
  width: 1170;
  margin: auto;
  /* padding: 30px 50px; */
}
.info li {
  display: block;
  position: relative;
  left: -40px;
}
.info span {
  font-weight: bold;
}
.icons {
  display: flex;
  margin-top: 20px;
  color: #2d9fb3;
}
.icons i {
  padding-right: 10px;
}
/* icons-style */
/* icons-style interest" */
.flex-container i {
  color: #2d9fb3;
  border: 1px #2d9fb3 solid;
  border-radius: 50%;
  margin: 10px;
  padding: 1rem;
}
#interest p {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
}
#interest .flex-container {
  gap: 0.3rem;
}
/* icons-style footer */
#footer .container li {
  display: inline;
  margin: 1rem;
}
#footer .container i {
  background-color: white;
  color: #2d9fb3;
}
/* list-style */
.list-style li {
  list-style-type: disc;
}
.list-style > li {
  color: #2d9fb3;
}
.list-style > li > span {
  color: black;
}

/* span-style  */
/* span-style-one */
.span-style-one span {
  display: inline-block;
  border: 1px solid #2d9fb3;
  padding-left: 3rem;
}
.span-style-one span:last-child {
  border: 1px solid #6f6e6e;
}
/* span-style-two */
.span-style-two span {
  display: inline-block;
  border: 1px solid #2d9fb3;
  padding-left: 3rem;
}
.span-style-two span:nth-child(n + 3) {
  border: 1px solid #6f6e6e;
}
/* style chứng chỉ và giải thưởng*/
#certificate {
  padding: 0 4rem;
  /* margin: 0 4rem; */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 2rem;
}
.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 2rem;
}
.border-left {
  padding-left: 1rem;
}
.grid-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}
#job-info .grid-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-title {
  display: grid;
  grid-template-columns: 75% 25%;
}
.grid-title .section-title {
  align-self: center;
}
table {
  border-collapse: collapse;
}

td {
  border-top: 1px solid #e1d8d8ca;
  text-align: start;
  padding: 1rem;
  vertical-align: baseline;
}
.border-left {
  border-left: 1px solid #d6c08d;
  /* margin-left: 1rem; */
}
/* project */
#project .grid-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#project i {
  margin: 10px;
}
#project td {
  padding-left: 0.3rem;
}
#project span {
  background-color: #2d9fb3;
  border-radius: 50%;
  padding: 8px;
  /* margin-left: 0.3rem; */
}
#project {
  padding: 0 3rem;
}
/*footer */
#footer .container {
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 2rem 4rem;
}
#footer a {
  text-decoration: none;
  margin: 1rem;
}
/*radius border and control block*/

.r1,
.r2,
.r3,
.a-1 {
  display: inline-block;
}
/* mouse */
.hover-box .control-view {
  display: none;
}
.hover-box:hover .control-view {
  display: block;
}
.view-less {
  display: none;
}
/* class ẩn đi content*/
.d-none {
  display: none;
}
